<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-1699">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Let's talk</span>
            <h2 class="cs-title">Transparent advice for your finances</h2>
            <p class="cs-text">
                <br> Not all advice is equal. In fact, if we recommend anything it is done at a fixed fee and with no commission. We don't take a percentage of your assets, as many low-cost wills and estate planning services do </br>
                <br> Our aim is to provide the <span="cs-accent">most transparent advice possible</span> </br>
            </p>
            <div class="cs-author">
                <div class="cs-flex-group">
                    <img class="cs-signature"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/enterprise-signature.png"
                            alt="founder's signature" height="52" width="52" loading="lazy" decoding="async">
                    <span class="cs-job">Angela and Richard</span>
                </div>
            </div>
        </div>
        <!--Form-->
        <form class="cs-form" id="cs-form-1699" name="Contact Form" method="post">
            <div class="cs-content">
                <span class="cs-topper">Contact Us</span>
                <h2 class="cs-title">Let's Collaborate</h2>
            </div>
            <label class="cs-label">
                Name *
                <input class="cs-input" required type="text" id="name-1699" name="name" placeholder="Name">
            </label>
            <label class="cs-label">
                Email *
                <input class="cs-input" required type="email" id="email-1699" name="email" placeholder="Email">
            </label>
            <label class="cs-label">
                Phone
                <input class="cs-input" type="number" id="phone-1699" name="phone" placeholder="Phone">
            </label>
            <label class="cs-label">
                Message *
                <textarea class="cs-input cs-textarea" required name="Message" id="message-1699"
                        placeholder="Message"></textarea>
            </label>
            <button class="cs-button-solid cs-submit" type="submit">Let's talk!</button>
        </form>
    </div>
</section>